@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SUSE&display=swap");

:root {
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;
  --error: #495057;

  --color-theme-light: #65c851;
  --color-theme: #4e9f3d;
  --color-theme-dark: #306326;
  --color-accent: #ffa94d;
  --color-red: #9e0d0d;
  --color-red-border: #740808;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "SUSE", sans-serif;
}

body {
  height: 100vh;
  color: var(--color-light);
  background-color: var(--color-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#root {
  display: flex;
  justify-content: start;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
}
.app-header {
  font-family: "Graduate", serif;
  height: 10rem;
  color: var(--color-light);
  background-image: linear-gradient(
    to right,
    var(--color-theme),
    var(--color-theme-dark)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}
.app-header h1 {
  font-size: 4.2rem;
}
.main {
  width: 100rem;
  background-color: var(--color-dark);
  height: 60rem;
  padding: 4rem 10%;
  border-radius: 2rem;
}

.error {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 500;
  padding: 2rem;
  border-radius: 100px;
}

img {
  width: 14rem;
}
h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}
.screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  height: 100%;
}

.start-screen,
.players-screen {
  align-items: center;
}

.start-screen h2 {
  font-size: 5rem;
}
.start-screen p {
  font-size: 3rem;
  color: var(--color-medium);
}
.players-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: 4.8rem;
}
.player-card {
  margin: 0px;
  background-color: var(--color-theme);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--color-light);
  cursor: pointer;
}
.player-card:hover {
  background-color: var(--color-theme-dark);
}
.player-card img {
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
}
.active-player-card {
  background-color: var(--color-theme-dark);
}
h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

h4 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-screen {
  text-align: center;
}

.footer {
  position: relative;
  width: 90%;
  margin-top: 1rem;
}
.footer * {
  bottom: calc(50% - 2.6rem);
  padding: 1.35rem 2.8rem;
  font-size: 1.8rem;
  border-radius: 2rem;
  position: absolute;
  border: 0.2rem solid;
}
.step-btn {
  cursor: pointer;
  color: var(--color-light);
  background-color: var(--color-theme-light);
  border-color: var(--color-theme-dark);
}
.previous-btn {
  left: -8rem;
}
.next-btn,
.finish-btn {
  right: -8rem;
}

.disable {
  opacity: 0.2;
}
.timer {
  width: 8rem;
  padding: 1rem;
  text-align: center;
  right: calc(50% - 8rem);
  border-color: var(--color-dark);
  background-color: var(--color-darkest);
  color: var(--color-medium);
}

.progress {
  display: grid;
  justify-content: space-between;
  gap: 1.2rem;
  grid-template-columns: auto auto;
  font-size: 1.8rem;
  color: var(--color-medium);
}
progress {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: var(--color-medium);
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: var(--color-theme);
  border-radius: 100px;
}

.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  border: 2px solid var(--color-theme-dark);
  background-color: var(--color-theme);
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

.btn:not([disabled]):hover {
  background-color: var(--color-theme-dark);
  opacity: 0.9;
}
.btn[disabled]:hover {
  cursor: not-allowed;
}
.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.question-header {
  padding: 0;
  margin: 0;
}
.question h2 {
  font-size: 3rem;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.option {
  width: 100%;
  text-align: left;
  background-color: var(--color-dark);
  border: 0.2rem solid var(--color-darkest);
  padding: 2rem;
  border-radius: 2rem;
  cursor: pointer;
}

.option:not([disabled]):hover {
  transform: translateX(1.2rem);
}

.option p {
  font-size: 1.8rem;
}

.correct-answer {
  background-color: var(--color-theme-light);
  border: 1px solid var(--color-theme-dark);
  animation: correct 2s linear;
}

@keyframes correct {
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.wrong-answer {
  background-color: var(--color-red);
  border: 1px solid var(--color-red-border);
  animation: wrong 2s linear;
}

@keyframes wrong {
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.result {
  background-color: var(--color-theme);
  color: var(--color-light);
  border-radius: 2rem;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.result span {
  font-size: 2.2rem;
  margin-right: 4px;
}

.highscore {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

.loader-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  color: var(--color-medium);
  font-size: 5rem;
}

/* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 40rem;
  height: 15rem;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
      50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 5rem;
  background-repeat: no-repeat;
  animation: loader 1.5s infinite linear;
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* 
.kick-img,
.sui-img {
  position: absolute;
  width: 18rem;
}
.kick-img {
  bottom: 3rem;
  left: 20rem;
  rotate: -10deg;
}
.sui-img {
  bottom: 4.5rem;
  right: 20rem;
} */
